<div class="todo-app">
    <h1>Todo App</h1>
    <div class="input-group">
        <input type="text" [(ngModel)]="newTodoTitle" placeholder="Add a new todo" (keyup.enter)="addTodo()" />

        <select [(ngModel)]="newTodoCategory">
            <option *ngFor="let category of categories" [value]="category">
                {{ category }}
            </option>
            <option value="">Add New Category</option>
        </select>
        <!-- <input *ngIf="newTodoCategory === ''" type="text" [(ngModel)]="newTodoCategory" placeholder="New Category" /> -->

        <!-- <input type="text" [(ngModel)]="newTodoCategory" placeholder="Category (optional)" /> -->
        <button (click)="addTodo()">Add</button>
    </div>

    <!-- Category Filter -->
    <div class="category-filter">
        <label for="categoryFilter">Filter by category:</label>
        <select id="categoryFilter" [(ngModel)]="selectedCategory">
            <option value="All">All</option>
            <option *ngFor="let category of categories" [value]="category">
                {{ category }}
            </option>
        </select>
    </div>

    <!-- Todo List -->
    <ul>
        <li *ngFor="let todo of filteredTodos">
            <app-todo-item [todo]="todo" (delete)="deleteTodo($event)"
                (toggle)="toggleCompletion($event)"></app-todo-item>
        </li>
    </ul>
</div>