$danger-color: #dc3545;
$danger-hover: #a71d2a;
$text-color: #333333;
$completed-text-color: #999999;


.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;

}

input[type='checkbox'] {
    margin-right: 15px;
    width: 18px;
    height: 18px;
}

.todo-title {
    flex: 1;
    font-size: 18px;
    color: $text-color;
    margin-right: 20px;
    word-break: break-word;
    overflow-wrap: anywhere;

    /* Increase this value to add more space */
    &.completed {
        text-decoration: line-through;
        color: $completed-text-color;
    }
}

.todo-content {
    display: flex;
    align-items: center;
    flex: 1;
}

.category {
    flex: 1;
    font-size: 18px;
    color: $text-color;
    margin-right: 20px;
}

button {
    background-color: transparent;
    border: none;
    color: $danger-color;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.2s;
    margin-left: auto;
    /* Increase this value to add more space */
    flex-shrink: 0;
    /* Prevent the button from shrinking */
}

button:hover {
    color: $danger-hover;
}